<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tingken.infoshower"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".view.WelcomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".view.LoginSucessActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".view.LoginFailActivity"
            android:label="@string/title_activity_login_fail" >
        </activity>
        <activity
            android:name=".view.LoginInvalidActivity"
            android:label="@string/title_activity_login_invalid" >
        </activity>
        <activity
            android:name=".view.RestartAlertActivity"
            android:label="@string/title_activity_restart_alert" >
        </activity>
        <activity
            android:name=".UpgradeNoticeActivity"
            android:label="@string/title_activity_upgrade_notice" >
        </activity>
        <activity
            android:name="com.tingken.infoshower.view.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
